name: Build and Publish

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  WEBAPP_PACKAGE_PATH: 'app'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Publish
      run: dotnet publish -c Release -o '${{ env.WEBAPP_PACKAGE_PATH }}/web'
